APP_NAME="OpenFinance"
APP_URL=https://sacco.valron.co.ke
APP_ENV=demo
APP_DEBUG=false
SYSTEM_URL=https://system-sacco.valron.co.ke
CONTACT_EMAIL=demo@sacco.valron.co.ke
GITHUB_URL=https://github.com/wanjohi-11/OpenFinance
